<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Express Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body class="container">
  <h1>
    폼폼푸린 방명록!! (스테이징으로 보내기!)
    <a href="/new-entry" class="btn btn-primary pull-right">
      글을 쓰세요
    </a>
  </h1>
